h1, h1.title,
h2, h2.title,
h3, h3.title,
h4, h4.title,
h5, h5.title,
h6, h6.title {
  &.is-mobile-viewport-sized {
    @media screen and (max-width: 420px) {
      font-size: 10vw;
    }
  }
}

h1, h1.title {
  @extend .is-1;
  color: $primary;
  font-weight: lighter;
}

h2, h2.title {
  @extend .is-2;
  font-weight: lighter;
}

h3, h3.title {
  @extend .is-3;
  font-weight: lighter;
}

h4, h4.title {
  @extend .is-4;
  color: $primary;
}

h5, h5.title {
  @extend .is-5;
  font-weight: lighter;
  margin-bottom: 0.8rem;
}

h6, h6.title {
  @extend .is-6;
}

p {
  margin-bottom: 1rem;
}

.smaller-container {
  max-width: 1080px;
  margin: 0 auto;
}

.thin-container {
  max-width: 960px;
  margin: 0 auto;
}

.thinner-container {
  max-width: 750px;
  margin: 0 auto;
}

.divider {
  height: $size-3;
  background: url('/media/level-separator.png') no-repeat center;

  & + h2 {
    margin-top: -0.25rem !important;
  }
}
