<!doctype html>
<html lang="en">
  {% include "head.njk" %}

  <body>
    {% block header %}
      <div class="hero-header">
        {% include "navigation.njk" %}
      </div>
    {% endblock %}

    {% block body %}
    {% endblock %}

    <script src="{{ '/js/scripts.js' | url }}"></script>
  </body>
</html>



