---
layout: docs
title: 'Page Not Found'
eleventyExcludeFromCollections: true
permalink: 'err/404/index.html'
---

<section class="section">
  <div class="container">
    <h1 class="title">{{ title }}</h1>

    <p>The page you were looking for could not be found.</p>
  </div>
</section>
